.section {
    &__menu {
        width: 132.34px;
        height: 100%;
        background-color: $black;
        border-radius: 0px 24px 24px 0px;

        .menu {
            &__wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__list {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            &__logo{
                width: 100%;
            }

            &__img{
                padding-top: 45px;
                padding-bottom: 110px;
            }
            &__item{
                padding-bottom: 65px;
                text-align: center;

                &:last-child{
                    padding-bottom: 0px;
                }
            }

            &__bottom{
                padding: 40px 0;

            }

        }
    }
}