@import "mixin";
@import "fonts";

// ! Части
@import "parts/vars";
@import "parts/button";

//! Basic
@import "parts/basic";

// ! Секції
@import "section/menu";
@import "section/user";
@import "section/info";
@import "section/admin";
@import "section/course";